In [2]:
import pandas as pd
from glob import glob

In [4]:
from python.utilities import *

In [5]:
str(time_now_pandas())

'2020-09-21 15:56:51'

In [260]:
glob('python/tests/unit/fixtures/*')

['python/tests/unit/fixtures/BLM_tweet_retweet_2020',
 'python/tests/unit/fixtures/BLM_tweet_original_2020',
 'python/tests/unit/fixtures/lambda_func',
 'python/tests/unit/fixtures/data_filenames:',
 'python/tests/unit/fixtures/data_processing_log']

In [156]:


class FilenameGatherer:
    def __init__(self, new_file_location, new_file_prefix, 
                 existing_file_location, existing_filenames_file, 
                 varname='name'):
        self.new_file_location = path_ends_with_slash(new_file_location)
        self.new_file_prefix = new_file_prefix
        self.existing_file_location = path_ends_with_slash(existing_file_location)
        self.existing_filenames_file = existing_filenames_file
        self.varname=varname

    def read_all_filenames_glob(self):
        self.all_filenames = glob(self.new_file_location + self.new_file_prefix)
    
    def register_filename_reader(self, filename_reader):
        self.filename_reader = filename_reader

    def read_existing_filenames(self):
        if not hasattr(self, 'filename_reader'): raise ValueError('Please register filename reader.')
        self.existing_filenames = self.filename_reader(self)

    def get_new_filenames(self):
        self.new_filenames = [file for file in self.all_filenames 
                              if file.split(self.new_file_location)[1] not in self.existing_filenames]

    def get_new_filenames_without_loc(self):
        self.new_filenames_without_loc = [file.split(self.new_file_location)[1] for file in self.new_filenames] 

    def gather_filenames(self):
        self.read_all_filenames_glob()
        self.read_existing_filenames()
        self.get_new_filenames()
        self.get_new_filenames_without_loc()


def read_existing_filenames_csv(FilenameGatherer):
    return list(pd.read_csv(FilenameGatherer.existing_file_location + 
            FilenameGatherer.existing_filenames_file)[FilenameGatherer.varname])

In [157]:
# data_source = "/Users/kotaminegishi/big_data_training/Python/dash_BLM/"
# data_dest = "/Users/kotaminegishi/big_data_training/Python/dash_BLM/"
data_source = 'python/tests/unit/fixtures/'
data_dest = 'python/tests/unit/fixtures/'

current_time = time_now_pandas()
# impute time during code dev
current_time = pd.to_datetime('2020-07-09 23:59')
current_time_str = str(current_time)

append_to_file(data_dest + 'data_processing_log/processing_begin.csv',
               '\n'+current_time_str)

# tweet data files: original 
files_original = FilenameGatherer(new_file_location = data_source, 
                                  new_file_prefix = "BLM_tweet_original_*/*/*/*/*", 
                                  existing_file_location = data_dest,
                                  existing_filenames_file= 'data_filenames/files_read_BLM_tweet_original.csv')
files_original.register_filename_reader(read_existing_filenames_csv)
files_original.gather_filenames()
for file in files_original.new_filenames: print(file.split(data_source)[1])

# tweet data files: retweet
files_retweet = FilenameGatherer(new_file_location = data_source, 
                                  new_file_prefix = "BLM_tweet_retweet_*/*/*/*/*", 
                                  existing_file_location = data_dest,
                                  existing_filenames_file= 'data_filenames/files_read_BLM_tweet_retweet.csv')
files_retweet.register_filename_reader(read_existing_filenames_csv)
files_retweet.gather_filenames()
for file in files_retweet.new_filenames: print(file.split(data_source)[1])

BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-59-32-a87bf603-d4d9-4315-b39c-3b9d1299c933
BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-34-25-16f86d7c-2aa1-48e1-95ea-6d18e5e0c923
BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-04-16-0dd357ff-17b6-4a6d-9571-dfb448b6f16e
BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-19-21-9ef8ea83-4b1f-42d9-97aa-d6da6aace8c2
BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-44-27-ec48a273-4b33-4553-abe8-1e31f806cc32
BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-54-31-19d40465-fb9a-40ea-b947-bec0a87b04d1
BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-29-23-8996e450-61f4-462b-bf03-758958814624
BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-24-22-36c9cda4-1104-40b9-b661-df8eacb1834d
BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-49-27-cf1951bb-809d-498d-98b8-4878ec9e69f9
BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-14-19-44186211-5109-4b4c-bd65-8c86d29aed4d
BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-39-26-9d0fe52e-8b78-4c63-850b-b9e09a6eb879
BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-09-17-cd1a59aa-6249-4990-9673-b4787c85aaa8
BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-49-12-768cbda2-1131-40c0-b878-54c5ed7bf72b
BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-13-59-446c29a7-9f70-4f81-a470-23c520486cc3
BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-54-14-6f18c336-0f51-41d8-abdf-ba2376503c98
BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-59-14-be72dc45-9208-4099-b183-8d4e7207df47
BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-03-56-329c4689-3387-4554-bed4-1adb3bad9ce1
BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-19-02-d1c2d2ce-0e49-4d67-a0f6-9ddab2c9c4cc
BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-24-04-33e5b4d3-cd4c-4859-b579-1ebf10bb5124
BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-08-58-06ff6b4d-9f69-4e50-a272-69ca90bf6754
BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-44-11-30d5ca9e-6869-4635-97e8-7c2651d154cd
BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-29-05-7b97d696-d7f1-4785-a269-f96bc20db7b3
BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-34-06-a422307c-6246-41c5-8f8b-a86c151187ad
BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-39-07-f8c5e37c-1ebc-4186-a334-4b2942d80d58
BLM_tweet_original_2020/07/09/01/BLM_tweet_original_delivery-1-2020-07-09-01-53-55-dd471521-1fd7-4edb-92b7-5b713d8f9ea7
BLM_tweet_original_2020/07/09/01/BLM_tweet_original_delivery-1-2020-07-09-01-58-54-89732852-7988-4be4-bf6f-416c8f8239f4
BLM_tweet_retweet_2020/07/09/00/BLM_tweet_retweet_delivery-1-2020-07-09-00-17-49-7c315c6f-ea55-4e86-b0e1-7abac94a4c6c
BLM_tweet_retweet_2020/07/09/00/BLM_tweet_retweet_delivery-1-2020-07-09-00-23-09-ba4e1b31-5575-46a9-bd08-0b2a32405477
BLM_tweet_retweet_2020/07/09/00/BLM_tweet_retweet_delivery-1-2020-07-09-00-33-46-9cc84802-3a1a-4fde-be7b-9de1db4382db
BLM_tweet_retweet_2020/07/09/00/BLM_tweet_retweet_delivery-1-2020-07-09-00-10-40-c8533a11-7d8c-44dc-9978-487f0486e5d5
BLM_tweet_retweet_2020/07/09/00/BLM_tweet_retweet_delivery-1-2020-07-09-00-49-44-69100059-1935-418c-8267-b2ae45a53eda
BLM_tweet_retweet_2020/07/09/00/BLM_tweet_retweet_delivery-1-2020-07-09-00-28-19-1a065b56-7a52-42ca-b3ea-b1a40b504761
BLM_tweet_retweet_2020/07/09/00/BLM_tweet_retweet_delivery-1-2020-07-09-00-55-12-d3da10f7-4140-485e-a0af-66826861d81a
BLM_tweet_retweet_2020/07/09/00/BLM_tweet_retweet_delivery-1-2020-07-09-00-44-38-8c55af62-8ffe-47bf-b070-e298ca893c3d
BLM_tweet_retweet_2020/07/09/00/BLM_tweet_retweet_delivery-1-2020-07-09-00-05-15-0f1d31b4-a578-4298-9132-31095e26c4f8
BLM_tweet_retweet_2020/07/09/00/BLM_tweet_retweet_delivery-1-2020-07-09-00-39-00-f276f038-d6a1-4ccb-9bb2-0d5865e55c6a
BLM_tweet_retweet_2020/07/09/01/BLM_tweet_retweet_delivery-1-2020-07-09-01-39-38-71c11af2-9d34-4ce0-acb4-85e7e051f5cb
BLM_tweet_retweet_2020/07/09/01/BLM_tweet_retweet_delivery-1-2020-07-09-01-34-19-79fd1309-481a-462b-84f0-49936088260f
BLM_tweet_retweet_2020/07/09/01/BLM_tweet_retweet_delivery-1-2020-07-09-01-06-05-9c061182-7083-4fac-a4e5-35285b4217f0
BLM_tweet_retweet_2020/07/09/01/BLM_tweet_retweet_delivery-1-2020-07-09-01-00-22-a5731789-9989-45c1-903f-ec344af58447
BLM_tweet_retweet_2020/07/09/01/BLM_tweet_retweet_delivery-1-2020-07-09-01-22-01-a2d8e79a-d869-4544-9b0b-e37554d2ed53
BLM_tweet_retweet_2020/07/09/01/BLM_tweet_retweet_delivery-1-2020-07-09-01-45-01-0f0c63ce-df2b-49a6-9d06-d7bfab17437b
BLM_tweet_retweet_2020/07/09/01/BLM_tweet_retweet_delivery-1-2020-07-09-01-50-57-697cf6da-3958-4bab-817f-75cc00d172f0
BLM_tweet_retweet_2020/07/09/01/BLM_tweet_retweet_delivery-1-2020-07-09-01-16-56-46d3144e-dd98-49c9-9554-30fdaf966c58
BLM_tweet_retweet_2020/07/09/01/BLM_tweet_retweet_delivery-1-2020-07-09-01-11-33-551bfadc-1117-4cc2-b466-74e341e211dc
BLM_tweet_retweet_2020/07/09/01/BLM_tweet_retweet_delivery-1-2020-07-09-01-27-15-cfb7dc95-7c44-414d-920f-0a3564aa950d

In [264]:
data_source = "/Users/kotaminegishi/big_data_training/Python/dash_BLM/"
data_dest = "/Users/kotaminegishi/big_data_training/Python/dash_BLM/"

files_1 = glob(data_source + "BLM_tweet_original_*/*/*/*/*")
existing_files_1 = pd.read_csv(data_dest + 'data_filenames/files_read_BLM_tweet_original.csv')
new_files_1 = [file for file in files_1 if file.split(data_source)[1] not in list(existing_files_1.name)]

In [9]:
import nltk
nltk.download('vader_lexicon') 
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
nltk.download('punkt')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/kotaminegishi/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/kotaminegishi/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/kotaminegishi/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/kotaminegishi/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/kotaminegishi/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [10]:
def data_files_to_df_json(files, orient='records', lines=False):
    df = []
    [ df.append(pd.read_json(file, orient=orient, lines=lines)) for file in files ]
    df = pd.concat(df, ignore_index=True)
    return df

def convert_time(df, dst_pd_dt, timezone='US/Mountain', varname='created_at'):
    dst = is_dst_pd_mtn(dst_pd_dt, timezone=timezone)
    df[varname] = pd.to_datetime(df.created_at, unit='s') + pd.DateOffset(hours=-7 + dst*1) 

def add_time_floored_at_hour(df, varname='created_at', floored_varname='created_at_h'):
    df[floored_varname] =  df[varname].dt.floor("h")

In [11]:
import pytz

from datetime import datetime

def is_dst(dt=None, timezone="UTC"):
    if dt is None:
        dt = datetime.utcnow()
    timezone = pytz.timezone(timezone)
    timezone_aware_date = timezone.localize(dt, is_dst=None)
    return timezone_aware_date.tzinfo._dst.seconds != 0

def is_dst_pd_mtn(pd_dt, timezone='US/Mountain'):
    return is_dst(pd_dt.to_pydatetime(), timezone=timezone)

In [12]:
pd.DateOffset?

In [42]:

from nltk.tag import pos_tag
from nltk.stem.wordnet import WordNetLemmatizer
from nltk import tokenize

def get_clean_lemmatized_tokens(texts):
    stopwords = nltk.corpus.stopwords.words('english')
    stopwords.extend(['#blacklivesmatter', '&amp;', 'please','retweet'])
    
    cleaned_tokens_list = []
    for text in texts:
        tokens = remove_noise(text.lower()).split()
        clean_tokens = remove_stopwords(tokens, stopwords)
        cleaned_tokens_list.append( 
            lemmatize_sentence(
              clean_tokens
            )
        )
    return cleaned_tokens_list

def remove_noise(token):
    token = re.sub('(https?://.*)|(www[.].*)','', token)
    token = re.sub("(@[A-Za-z0-9_]+)","", token)
    token = re.sub("[.,!?]"," ", token)
    return token

def remove_stopwords(tokens, stopwords):
    return [word for word in tokens if word not in stopwords]

def lemmatize_sentence(tokens):
    lemmatizer = WordNetLemmatizer()
    lemmatized_sentence = []
    for word, tag in pos_tag(tokens):
        if tag.startswith('NN'):
            pos = 'n'
        elif tag.startswith('VB'):
            pos = 'v'
        else:
            pos = 'a'
        lemmatized_sentence.append(lemmatizer.lemmatize(word, pos))
    return lemmatized_sentence


def join_token(token):
    return " ".join(str(word) for word in token)

In [21]:
ori1 = pd.read_json(files_original.new_filenames[0], orient='records', lines=True)

In [24]:
get_clean_lemmatized_tokens(ori1.text[:10] + ori1.quoted_text[:10])

[]
['“history', 'written', 'harm', 'ones', 'harmed”"they', 'keep', 'telling', "there's", 'nothing', 'called', 'white', 'privilege', 'give', 'break', '"', 'must', 'watch', 'michael', 'holding', '(via', ')']
[]
['afternoon', 'wcu', 'community', 'including', 'students', 'faculty', 'staff', 'alumni', 'administration', 'gathered', 'wcu’s', 'campus', 'protest', 'event', 'consisted', 'moments', 'silence', 'taking', 'knee', 'speakers', 'remarks', 'commitment', 'work', 'together']
[]
['"we\'ve', 'looking', 'away', 'long', '"', 'opens', 'experiences', 'racism', 'impact', 'killing', 'george', 'floyd', 'people', 'proud', 'wear', 'badges']
['afternoon', 'wcu', 'community', 'including', 'students', 'faculty', 'staff', 'alumni', 'administration', 'gathered', 'wcu’s', 'campus', 'protest', 'event', 'consisted', 'moments', 'silence', 'taking', 'knee', 'speakers', 'remarks', 'commitment', 'work', 'together']
['far', 'keep', 'playing', 'might', 'next', 'winner', '💯🏌️']
[]
[]

[[],
 ['“history',
  'write',
  'harm',
  'one',
  'harmed”"they',
  'keep',
  'tell',
  "there's",
  'nothing',
  'call',
  'white',
  'privilege',
  'give',
  'break',
  '"',
  'must',
  'watch',
  'michael',
  'hold',
  '(via',
  ')'],
 [],
 ['afternoon',
  'wcu',
  'community',
  'include',
  'student',
  'faculty',
  'staff',
  'alumnus',
  'administration',
  'gather',
  'wcu’s',
  'campus',
  'protest',
  'event',
  'consist',
  'moment',
  'silence',
  'take',
  'knee',
  'speaker',
  'remark',
  'commitment',
  'work',
  'together'],
 [],
 ['"we\'ve',
  'look',
  'away',
  'long',
  '"',
  'open',
  'experience',
  'racism',
  'impact',
  'kill',
  'george',
  'floyd',
  'people',
  'proud',
  'wear',
  'badge'],
 ['afternoon',
  'wcu',
  'community',
  'include',
  'student',
  'faculty',
  'staff',
  'alumnus',
  'administration',
  'gather',
  'wcu’s',
  'campus',
  'protest',
  'event',
  'consist',
  'moment',
  'silence',
  'take',
  'knee',
  'speaker',
  'remark',
  'commitment',
  'work',
  'together'],
 ['far', 'keep', 'playing', 'might', 'next', 'winner', '💯🏌️'],
 [],
 []]

In [90]:
import re
import string
import nltk
from nltk.tag import pos_tag
from nltk.stem.wordnet import WordNetLemmatizer
from nltk import tokenize
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import sys
from nrclex import NRCLex
from collections import Counter
import itertools 
from copy import deepcopy
from cached_property import cached_property

class NewTweetData():
    
    def __init__(self, new_filenames, id_varname, current_time):
        self.id_varname = id_varname
        self.new_filenames = new_filenames
        self.current_time = current_time
        self.df_sentiments, self.df_top_emotions, self.df_count_words = [pd.DataFrame()] * 3
        
    @cached_property
    def df(self): 
        if not self.new_filenames: return pd.DataFrame()
        df = data_files_to_df_json(self.new_filenames, orient='records', lines=True)
        convert_time(df, self.current_time, 'US/Mountain', varname='created_at')
        add_time_floored_at_hour(df, floored_varname='created_at_h')
        self.add_tokens_for_text_and_quoted_text(df)
        return df.drop_duplicates(subset = [self.id_varname])
        
    @cached_property
    def df_with_non_empty_tokens(self): 
        if len(self.df)==0: return pd.DataFrame()
        return keep_if_var_is_nonempty(self.df, 'tokens')

            
    def add_tokens_for_text_and_quoted_text(self, df):
        if hasattr(df, 'quoted_text'):
                df['tokens'] = get_clean_lemmatized_tokens(df.text + df.quoted_text)
        else:
                df['tokens'] = get_clean_lemmatized_tokens(df.text)
        
    def assign_sentiments(self):
        df = self.df_with_non_empty_tokens
        if len(df): 
            sid = SentimentIntensityAnalyzer()
            sentiments = []

            for i, row in df.iterrows():
                score = sid.polarity_scores(join_token(row['tokens']))
                sentiments.append([row[self.id_varname], row['created_at_h']] + [score[key] for key in score])
            self.df_sentiments = pd.DataFrame(sentiments,
                                              columns = [self.id_varname, 'created_at_h'] + list(score.keys()))

    def assign_emotions(self):
        df = self.df_with_non_empty_tokens
        if len(df):
            nrc_1 = NRCLex(join_token(df['tokens'].iloc[0]))
            emo_labels = nrc_1.affect_frequencies.keys()
            top_emotions = []

            for i, row in df.iterrows():
                nrc = NRCLex(join_token(row['tokens']))
                emos = [ i[0] for i in nrc.top_emotions]
                top_emotions.append([row[self.id_varname], row['created_at_h']] + [i in emos for i in emo_labels])
            self.df_top_emotions = pd.DataFrame(top_emotions,
                                                columns = [self.id_varname, 'created_at_h'] + list(emo_labels))

    def count_words(self):
        df = deepcopy(self.df)
        if len(df):
            df['token_counter'] = df['tokens'].apply(lambda x: Counter(x))
            self.df_words = df[[self.id_varname, 'created_at_h', 'token_counter']]

    def assign_sentiments_and_wordcounts(self):
        self.assign_sentiments()
        self.assign_emotions()
        self.count_words()

In [91]:
ori = NewTweetData(files_original.new_filenames, 'id', current_time)
rt  = NewTweetData(files_retweet.new_filenames, 'RT_id', current_time):

ori.assign_sentiments_and_wordcounts()
rt.assign_sentiments_and_wordcounts()

In [89]:
ori.df_with_non_empty_tokens['tokens'].iloc[0]

['“history',
 'write',
 'harm',
 'one',
 'harmed”"they',
 'keep',
 'tell',
 "there's",
 'nothing',
 'call',
 'white',
 'privilege',
 'give',
 'break',
 '"',
 'must',
 'watch',
 'michael',
 'hold',
 '(via',
 ')']

In [92]:
ori.df_words

,id,created_at_h,token_counter
0,1281075466296688640,2020-07-08 21:00:00,{}
1,1281075466955141120,2020-07-08 21:00:00,"{'“history': 1, 'write': 1, 'harm': 1, 'one': ..."
2,1281075472454033408,2020-07-08 21:00:00,{}
3,1281075472634466304,2020-07-08 21:00:00,"{'afternoon': 1, 'wcu': 1, 'community': 1, 'in..."
4,1281075489252143104,2020-07-08 21:00:00,{}
...,...,...,...
14695,1281046366249086976,2020-07-08 20:00:00,{}
14696,1281046366203121664,2020-07-08 20:00:00,"{'y’all': 1, 'stop': 1, 'hat': 1, '15': 1, 'ti..."
14697,1281046367247441920,2020-07-08 20:00:00,{}
14698,1281046368409141248,2020-07-08 20:00:00,{}
14699,1281046369092792320,2020-07-08 20:00:00,{}

In [93]:
ori.df_sentiments

                       id        created_at_h    neg    neu    pos  compound
0     1281075466955141120 2020-07-08 21:00:00  0.248  0.752  0.000   -0.6818
1     1281075472634466304 2020-07-08 21:00:00  0.075  0.827  0.098    0.1531
2     1281075491907055616 2020-07-08 21:00:00  0.368  0.502  0.130   -0.7717
3     1281075492209164288 2020-07-08 21:00:00  0.075  0.827  0.098    0.1531
4     1281075493211648000 2020-07-08 21:00:00  0.000  0.472  0.528    0.6808
...                   ...                 ...    ...    ...    ...       ...
6414  1281046349098647552 2020-07-08 20:00:00  0.000  0.802  0.198    0.5719
6415  1281046350961016832 2020-07-08 20:00:00  0.000  0.551  0.449    0.6908
6416  1281046352462577664 2020-07-08 20:00:00  0.257  0.668  0.075   -0.7783
6417  1281046361102671872 2020-07-08 20:00:00  0.000  1.000  0.000    0.0000
6418  1281046366203121664 2020-07-08 20:00:00  0.328  0.420  0.252    0.0516

[6419 rows x 6 columns]

In [94]:
ori.df_top_emotions

,id,created_at_h,fear,anger,anticip,trust,surprise,positive,negative,sadness,disgust,joy
0,1281075466955141120,2020-07-08 21:00:00,False,False,True,True,False,True,True,True,True,False
1,1281075472634466304,2020-07-08 21:00:00,False,False,False,False,False,True,False,False,False,False
2,1281075491907055616,2020-07-08 21:00:00,False,False,False,False,False,False,True,False,False,False
3,1281075492209164288,2020-07-08 21:00:00,False,False,False,False,False,True,False,False,False,False
4,1281075493211648000,2020-07-08 21:00:00,False,True,True,True,True,True,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
6414,1281046349098647552,2020-07-08 20:00:00,False,False,False,False,False,True,False,False,False,False
6415,1281046350961016832,2020-07-08 20:00:00,True,True,True,True,True,True,True,True,True,True
6416,1281046352462577664,2020-07-08 20:00:00,False,False,False,False,False,False,True,False,False,False
6417,1281046361102671872,2020-07-08 20:00:00,False,False,False,False,False,True,False,False,False,False
6418,1281046366203121664,2020-07-08 20:00:00,False,False,False,True,False,True,False,False,False,False

In [97]:
rt  = NewTweetData(files_retweet.new_filenames, 'RT_id', current_time)
rt.assign_sentiments_and_wordcounts()

In [98]:
rt.df_words

,RT_id,created_at_h,token_counter
0,1279542869301227520,2020-07-04 16:00:00,"{'freeway': 7, 'close': 7, '#diazlove': 1, '#s..."
1,1280011731142664192,2020-07-05 23:00:00,"{'🌵california': 1, 'patriot': 1, 'couple': 1, ..."
2,1279350600703115264,2020-07-04 03:00:00,"{'2': 1, 'protester': 1, 'run': 1, 'seattle': ..."
3,1267799709957017600,2020-06-02 06:00:00,"{'mean': 1, 'calm': 1, 'strong': 1, '🤔': 1, '#..."
4,1272653236638560256,2020-06-15 16:00:00,"{'#imagine': 1, 'news': 1, 'medium': 1, 'spend..."
...,...,...,...
178,1269089796422463488,2020-06-05 20:00:00,"{'🗣🗣🗣🗣🗣🗣🗣🗣🗣': 1, 'kimberly': 1, 'i’m': 1, 'imp..."
179,1268965667048321024,2020-06-05 11:00:00,"{'beautiful': 1, 'together': 1, 'shall': 1, 'p..."
180,1280255356413849600,2020-07-06 15:00:00,"{'business': 1, 'owner': 1, 'protect': 1, 'wha..."
181,1268944647142780928,2020-06-05 10:00:00,"{'heard': 1, 'put': 1, 'statement': 1, 'suppos..."
182,1265997903987986432,2020-05-28 07:00:00,{'riot': 1}

In [99]:
rt.df_sentiments

                   RT_id        created_at_h    neg    neu    pos  compound
0    1279542869301227520 2020-07-04 16:00:00  0.000  0.588  0.412    0.3400
1    1280011731142664192 2020-07-05 23:00:00  0.000  1.000  0.000    0.0000
2    1279350600703115264 2020-07-04 03:00:00  0.453  0.547  0.000   -0.7003
3    1267799709957017600 2020-06-02 06:00:00  0.000  0.517  0.483    0.6808
4    1272653236638560256 2020-06-15 16:00:00  0.161  0.685  0.154   -0.2960
..                   ...                 ...    ...    ...    ...       ...
177  1269089796422463488 2020-06-05 20:00:00  0.152  0.690  0.159    0.0258
178  1268965667048321024 2020-06-05 11:00:00  0.000  0.506  0.494    0.5994
179  1280255356413849600 2020-07-06 15:00:00  0.394  0.363  0.244   -0.5994
180  1268944647142780928 2020-06-05 10:00:00  0.313  0.647  0.040   -0.8225
181  1265997903987986432 2020-05-28 07:00:00  1.000  0.000  0.000   -0.5574

[182 rows x 6 columns]

In [100]:
rt.df_top_emotions

,RT_id,created_at_h,fear,anger,anticip,trust,surprise,positive,negative,sadness,disgust,joy
0,1279542869301227520,2020-07-04 16:00:00,True,False,False,False,False,False,False,False,False,False
1,1280011731142664192,2020-07-05 23:00:00,True,True,False,False,False,False,True,True,True,False
2,1279350600703115264,2020-07-04 03:00:00,False,False,False,False,False,False,True,False,False,False
3,1267799709957017600,2020-06-02 06:00:00,False,False,False,False,False,False,True,True,False,False
4,1272653236638560256,2020-06-15 16:00:00,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
177,1269089796422463488,2020-06-05 20:00:00,True,True,True,True,True,True,True,True,True,True
178,1268965667048321024,2020-06-05 11:00:00,False,False,False,False,False,True,False,False,False,True
179,1280255356413849600,2020-07-06 15:00:00,False,False,False,False,False,False,True,False,False,False
180,1268944647142780928,2020-06-05 10:00:00,False,False,False,False,False,False,True,True,True,False
181,1265997903987986432,2020-05-28 07:00:00,True,True,False,False,True,False,True,False,False,False

In [ ]:
def merge_datasets(or_df, or_data, ref_data):
    if or_data is None: return()
    
    col_data = [*or_data.columns]
    
    ref_data['RT_id'] = ref_data['RT_id'].astype(str) 
    
    or_non_empty = or_df[or_df.RT_id != '']
    
    if len(or_non_empty)>0:
        retweeted_data = (
            or_non_empty[['id','RT_id','created_at_h']]
            .join(ref_data.set_index('RT_id'), 
                   on='RT_id', rsuffix='_rt')
            )

        df_merged = (
            or_data.reset_index()[['id','created_at_h', *col_data]] 
            .append(retweeted_data[['id','created_at_h', *col_data]])
            )
        
        print('Num rows = {} + {} = {}'
          .format(len(or_data), len(retweeted_data), len(df_merged)))
        return df_merged
   
    else: 
        print('Num rows = {}'.format(len(or_data)))
        return or_data.reset_index()[['id','created_at_h', *col_data]]

In [ ]:
new_sentiments = merge_datasets(or_df = ori.df, 
                                or_data = ori.df_sentiments, 
                                ref_data = ref_sentiments)

In [128]:
def append_matching_rt_data(ori_df, ori_data, rt_data):
    if not len(ori_data): return pd.DataFrame()
    col_data = [*ori_data.columns]
    ori_matched = get_matching_rt_data(ori_df, rt_data)
    
    if len(ori_matched):
        df_appended = (
            ori_data
            .append(ori_matched[[*col_data]])
            )
        print('Num rows = original:{} + retweet:{} = total:{}'
          .format(len(ori_data), len(ori_matched), len(df_appended)))
        return df_appended 
   
    else: 
        print('Num rows = original:{}'.format(len(ori_data)))
        return or_data

def get_matching_rt_data(ori_df, rt_data): 
    convert_vars_to_str(rt_data,['RT_id']) 
    ori_to_be_matched = keep_if_var_is_nonempty(ori_df, 'RT_id')
    
    if len(ori_to_be_matched):
        matched_data = (
            ori_to_be_matched[['id','RT_id','created_at_h']]
            .join(rt_data.set_index('RT_id'), 
                   on='RT_id', rsuffix='_rt')
            )
        return matched_data
    else:
        return pd.DataFrame()

In [146]:
# load stats from cumulative retweet to match with new data
retweets = pd.read_json(data_dest + "data_cumulative/retweet/2020_all_retweets.json",
     lines=True, orient='records')
rt_sentiments = pd.read_csv(data_dest + 
    'data_cumulative/retweet/2020_all_sentiments.csv')
rt_emotions = pd.read_csv(data_dest + 
    'data_cumulative/retweet/2020_all_emotions.csv')
rt_words = pd.read_json(data_dest + 
    'data_cumulative/retweet/2020_all_words.json', orient='records', lines=True)

In [147]:
def append_and_drop_duplicates(df1, df2, subset):
    return df1.append(df2).drop_duplicates(subset = subset)

retweets = append_and_drop_duplicates(rt_retweet, rt.df, 'RT_id')
rt_sentiments = append_and_drop_duplicates(rt_sentiments, rt.df_sentiments, 'RT_id')
rt_emotions = append_and_drop_duplicates(rt_emotions, rt.df_top_emotions, 'RT_id')
rt_words = append_and_drop_duplicates(rt_words, rt.df_words, 'RT_id')

In [148]:
file_rt_loc = 'data_cumulative/retweet/'
retweets.to_json(f'{data_dest}{file_rt_loc}2020_retweets.json', orient='records', lines=True)
rt_words.to_json(f'{data_dest}{file_rt_loc}2020_rt_words.json', orient='records', lines=True)
rt_sentiments.to_csv(f'{data_dest}{file_rt_loc}2020_rt_sentiments.csv', index=False) 
rt_emotions.to_csv(f'{data_dest}{file_rt_loc}2020_rt_emotions.csv', index=False) 
print('  Updated cumulative data: retweet, retweet-words, sentiments, and emotions.')

  Updated cumulative data: retweet, retweet-words, sentiments, and emotions.

In [144]:
new_sentiments = append_matching_rt_data(ori.df, ori.df_sentiments, rt_sentiments)
new_emotions = append_matching_rt_data(ori.df, ori.df_top_emotions, rt_emotions)
new_words = append_matching_rt_data(ori.df, ori.df_words, rt_words)

Num rows = original:6419 + retweet:12597 = total:19016
Num rows = original:6419 + retweet:12597 = total:19016
Num rows = original:14696 + retweet:12597 = total:27293

In [152]:
# add new data into cumulative datasets
time_as_filename = 'created_at_' + current_time_str.replace(" ","_")
new_sentiments.to_csv(f'{data_dest}data_cumulative/sentiments/{time_as_filename}.csv', index=False)
new_emotions.to_csv(f'{data_dest}data_cumulative/emotions/{time_as_filename}.csv', index=False)
new_words.to_json(f'{data_dest}data_cumulative/words/{time_as_filename}.json', orient='records', lines=True)
ori.df.to_json(f'{data_dest}data_cumulative/original/{time_as_filename}.json', orient='records', lines=True)
print('  Updated cumulative data: sentiments, emotions, words, and original.')

  Updated cumulative data: sentiments, emotions, words, and original.

In [158]:
files_original.new_filenames_without_loc

['BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-59-32-a87bf603-d4d9-4315-b39c-3b9d1299c933',
 'BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-34-25-16f86d7c-2aa1-48e1-95ea-6d18e5e0c923',
 'BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-04-16-0dd357ff-17b6-4a6d-9571-dfb448b6f16e',
 'BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-19-21-9ef8ea83-4b1f-42d9-97aa-d6da6aace8c2',
 'BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-44-27-ec48a273-4b33-4553-abe8-1e31f806cc32',
 'BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-54-31-19d40465-fb9a-40ea-b947-bec0a87b04d1',
 'BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-29-23-8996e450-61f4-462b-bf03-758958814624',
 'BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-24-22-36c9cda4-1104-40b9-b661-df8eacb1834d',
 'BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-49-27-cf1951bb-809d-498d-98b8-4878ec9e69f9',
 'BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-14-19-44186211-5109-4b4c-bd65-8c86d29aed4d',
 'BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-39-26-9d0fe52e-8b78-4c63-850b-b9e09a6eb879',
 'BLM_tweet_original_2020/07/09/03/BLM_tweet_original_delivery-1-2020-07-09-03-09-17-cd1a59aa-6249-4990-9673-b4787c85aaa8',
 'BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-49-12-768cbda2-1131-40c0-b878-54c5ed7bf72b',
 'BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-13-59-446c29a7-9f70-4f81-a470-23c520486cc3',
 'BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-54-14-6f18c336-0f51-41d8-abdf-ba2376503c98',
 'BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-59-14-be72dc45-9208-4099-b183-8d4e7207df47',
 'BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-03-56-329c4689-3387-4554-bed4-1adb3bad9ce1',
 'BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-19-02-d1c2d2ce-0e49-4d67-a0f6-9ddab2c9c4cc',
 'BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-24-04-33e5b4d3-cd4c-4859-b579-1ebf10bb5124',
 'BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-08-58-06ff6b4d-9f69-4e50-a272-69ca90bf6754',
 'BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-44-11-30d5ca9e-6869-4635-97e8-7c2651d154cd',
 'BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-29-05-7b97d696-d7f1-4785-a269-f96bc20db7b3',
 'BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-34-06-a422307c-6246-41c5-8f8b-a86c151187ad',
 'BLM_tweet_original_2020/07/09/02/BLM_tweet_original_delivery-1-2020-07-09-02-39-07-f8c5e37c-1ebc-4186-a334-4b2942d80d58',
 'BLM_tweet_original_2020/07/09/01/BLM_tweet_original_delivery-1-2020-07-09-01-53-55-dd471521-1fd7-4edb-92b7-5b713d8f9ea7',
 'BLM_tweet_original_2020/07/09/01/BLM_tweet_original_delivery-1-2020-07-09-01-58-54-89732852-7988-4be4-bf6f-416c8f8239f4']

In [101]:
# append new file names 
if len(ori.df):
    new_files_1s = [file.split(data_source)[1] for file in new_files_1]

    pd.DataFrame(new_files_1s, 
             columns = {'name'}
            ).to_csv(data_dest + 'data_filenames/files_read_BLM_tweet_original_updated.csv', 
                     mode='a', header=False, index=False)

if len(rt.df): 
    new_files_2s = [file.split(data_source)[1] for file in new_files_2]

    pd.DataFrame(new_files_2s, 
             columns = {'name'}
            ).to_csv(data_dest + 'data_filenames/files_read_BLM_tweet_retweet_updated.csv', 
                     mode='a', header=False, index=False)


if new_original: del new_sentiments, new_emotions, new_words, ori, rt
if new_retweet: del cum_retweet, ref_sentiments, ref_emotions, ref_words

['id',
 'created_at',
 'is_retweet',
 'RT_id',
 'RT_retweet_count',
 'user_id',
 'user_name',
 'followers_count',
 'following_count',
 'text',
 'quoted_text',
 'RT_text',
 't_co',
 'tags',
 'urls',
 'lang',
 'created_at_h',
 'tokens']

['id', 'created_at_h', 'neg', 'neu', 'pos', 'compound']